<div class="header">
  <div class="container header-container">
    <div class="header-top">
      <div class="header-logo">
        <svg class="svg-icon-logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <h1 class="header-title">Filmoteka</h1>
      </div>
      <nav class="">
        <ul class="header-nav">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./my-library.html">My library</a></li>
        </ul>
      </nav>
    </div>
    <form id="search-form">
      <input type="text" id="search-input" name="searchQuery" placeholder="Movie search">
      <button type='submit' id="search-button">
        <svg class="svg-icon-search">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</div>