/* ============================ header */
.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 216px;
  display: flex;
  padding: 20px 0;
  background-color: var(--bkg-color);
  background-image: linear-gradient(to right, var(--bkg-color-1), var(--bkg-color-2));
  color: #fff;
}
.container-header {
  color: white;
}
.header-top {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
}
.svg-icon-logo {
  stroke: #fff;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.header-title {
  display: block;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.17;
}
.header-nav {
  display: flex;
  gap: 20px;
  list-style: none;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  width: 240px;
  height: 32px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
#search-input:focus-within {
  border: 1px solid red;
  box-shadow: 0 0 10px red;
}
#search-input::placeholder {
  color: #fff;
}

#search-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  stroke: #fff;
}
.svg-icon-search {
  width: 32px;
  height: 32px;
}
